.bridgetown {
 position: relative;
  @include breakpoint(medium down) {
    background: none;
  }

  .section-content {
    padding: 9.9rem 0 9.9rem 0;

    @include breakpoint(medium down) {
      padding: 2rem 0 2rem 0;
    }
    &__title {
      background: url(../img/title-bridgetown.png) 1px no-repeat;
      padding-left: 7px;
      @include breakpoint(medium down) {
        background-position: center;
      }
    }
  }
}