.transport {
  position: relative;

  @include breakpoint(medium down) {
    background: none;
  }

  .section-content {
    padding: 5.6rem 0 5.6rem 0;

    @include breakpoint(medium down) {
      padding: 2rem 0 2rem 0;
    }
    &__title {
      background: url(../img/title-ransport.png) 1px no-repeat;
      padding-left: 7px;
      @include breakpoint(medium down) {
        background-position: center;
      }
    }
  }
}

.transport-services {
  background: url(../img/transport-bg.png) no-repeat;
  background-position-x: 80%;
  background-position-y: bottom;
  background-size: 50%; 
  @include breakpoint(medium down) {
    background: none;
  }
  
  .section-item {
    text-align: left;

    &__description {
      margin: 0;
    }

    &__title {
      position: relative;

      @include breakpoint(medium down) {
        margin-left: 10px;
      }

      &::before {
        content: '';
        width: 7px;
        height: 29px;
        display: block;
        background: #333;
        position: absolute;
        left: -15px;
      }
    }
    .red {
      &::before {
        background: $red-color;
      }
    }
    .orange {
      &::before {
        background: $orange-color;
      }
    }
    .green {
      &::before {
        background: $before-green;
      }
    }
    .blue {
      &::before {
        background: $blue-color;
      }
    }
    .pink {
      &::before {
        background: $pink-color;
      }
    }
    .yellow {
      &::before {
        background: $yellow-color;
      }
    }
  }
}