$default-font: 'Open Sans', sans-serif;
$dark-color:#000000;
$white-color:#FFFFFF;
$gray:#777981;
$dark-gray:#838384;
$text-color:#28282b;
$menu-color:#28234C;
$green-color: #4ad316;
$menu-text:#ADAAC4;
$menu-link:#6BCFF5;
$hover:#ED212E;
$red-color:#FF2B2B;
$orange-color:#FFA913;
$before-green:#4AD316;
$blue-color:#19D6FF;
$pink-color:#F6169F;
$yellow-color:#FFF719;
